html, body {
   height: 100%;
}

html {
   -ms-text-size-adjust: 100%; /* 2 */
   -webkit-text-size-adjust: 100%; /* 2 */
}

body {
   background: #fff;
   color: #1f1c18;
   font-family: Georgia, serif;
   font-size: 16px;
   margin: 0px;
   padding: 0px;
   width: 100%;
   overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

strong {
    font-weight: bold;
}

a {
   color: #1f1c18;
   text-decoration: underline;
}

p {
   margin: 15px 0px;
   line-height: 21px;
}

img {
   border: none;
}

iframe {
   border: none;
   display: block;
}

hr {
   border: 0;
   height: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.clr {
   clear: both;
   height: 0px;
}

.wrapper {
   margin: 0px auto;
   width: 970px;
}

#logo {
   background: url('../images/logo.png') no-repeat 0px 10px;
   float: left;
   margin-right: 50px;
   padding-top: 20px;
}

#logo, #logo a {
   display: block;
   height: 104px;
   width: 105px;
   text-indent: -9999px;
}

ul.menu, ul.nav-child {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
}

#header .menu {
   text-align: right;
}

.menu li {
   border-left: 1px solid #666;
   color: #333232;
   display: inline;
   font-size: 18px;
}

.menu li:first-child {
   border-left: none;
}

.menu a {
   color: #333232;
   padding: 0px 10px;
   text-decoration: none;
}

.menu a:hover, .active.parent > a, .current > a {
   color: #f48021;
}

.menu li:last-child a {
   padding-right: 0px;
}

.menu li:first-child a {
   padding-left: 0px;
}

#menu-footer .active a {
   color: #333232;
}

#main-menu {
   padding-top: 60px;
}

.menu-toggle {
   background: url('../images/mobile-menu-icon.png') no-repeat;
   display: none;
   float: right;
   height: 38px;
   width: 38px;
}

#header {
   background: url("../images/flowers.jpg") no-repeat center top;
   position: relative;
   z-index: 999;
}

.with-slideshow #header {
   background: none;
   height: 707px;
}

.with-slideshow #top {
   height: 613px;
}

.social-button {
   float: right;
}

#menu-footer {
   float: left;
   padding-top: 7px;
}

#footer {
   background: #ddd8d2 url("../images/footer-bgd.png") repeat-x;
   border-top: 1px solid #ddd8d2;
   padding-bottom: 30px;
}

#footer-links {
   background: url("../images/logo-footer.png") no-repeat;
   color: #3a342e;
   line-height: 30px;
   margin-top: 50px;
   padding-left: 120px;
}

#footer a {
   color: #3a342e;
}

.copyright {
   font-size: 13px;
   padding-top: 30px;
}

#footer-links td {
   padding: 0px 50px 0px 0px;
   vertical-align: top;
}

#bottom-navigation {
   margin-top: 10px;
   margin-bottom: 10px;
}

.copyright ul {
   float: right;
}

.copyright li {
   border-left: 1px solid #666;
}

.copyright li, .copyright a {
   font-size: 13px;
}

.content-top-4-col .yidl-module {
   border-left: 1px solid #e1e1e0;
   float: left;
   padding-left: 17px;
   margin-left: 17px;
   width: 216px;
}

.content-top-4-col .yidl-module:first-child {
   border-left: 0px;
   padding-left: 0px;
   margin-left: 0px;
}


.content-top-4-col .yidl-module img:first-child {
   width: 216px;
}

.title {
   border-left: 7px solid #f47e21;
   display: block;
   padding-left: 10px;
}

.yidl-color {
   color: #f48021;
}

.class-table table {
   border-spacing:0;
   border-collapse:collapse;
   width: 970px;
   table-layout: fixed;
}

.class-table thead {
   background: url('../images/table-bgd.jpg') repeat-x;
}

.class-table th {
   border-bottom: 1px solid #eae7e0;
   border-top: 1px solid #eae7e0;
   border-left: none;
   border-right: none;
   color: #f48021;
   padding: 20px 0px;
   width: 12.5%;
}

.class-table th:first-child {
   background: url('../images/table-icon.jpg') no-repeat 10px 17px;
}

.class-table tr {
   border-bottom: 1px solid #eae7e0;
}

.class-table tr td {
   font-size: 14px;
   font-style: italic;
   padding: 5px 0px;
   text-align: center;
   width: 12.5%;
}

.class-table tr td:first-child, .class-table th:first-child {
   font-size: 17px;
   text-align: left;
}

.headline {
   color: #f48021;
   font-size: 42px;
   font-family: Georgia;
   font-weight: normal;
   text-align: center;
}

.news h2.title a {
   font-family: Georgia, sans-serif;
   text-decoration: underline;
}

h1, h2, h3, .title, .yidl-module h2.title a {
   font-family: arial;
   font-weight: bold;
   text-decoration: none;
}

h1, h2, .title {
   font-size: 20px;
}

h2.title a {
   text-decoration: none;
}

h3, h2.article-title {
   font-size: 16px;
}

.article h1.title, .page-header h1.title, .blog h1.title {
   margin-bottom: 30px;
}

#head-stripe {
   background: url('../images/head-stripe-bgd.png');
   border-bottom: 1px solid #fff;
   height: 61px;
   padding: 33px 0px 0px 0px;
   position: relative;
   width: 100%;
   z-index: 999;
}

.with-slideshow #head-stripe {
   position: relative;
   top: 0px;
   width: auto;
}

#head-stripe .title {
   color: #fff;
   font-size: 27px;
   font-family: Georgia, sans-serif;
   float: left;
   font-weight: normal;
}

#head-stripe #buttons {
   float: right;
   position: relative;
   bottom: 4px;
   margin: 0px;
   padding: 0px;
}

.stripe-button {
   display: inline-block;
   margin-left: 8px;
}

#buttons li.parent {
   position: relative;
}

#buttons .parent ul {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   position: absolute;
   top: -9999em;
}

#buttons li.parent:hover ul {
   top: 100%;
   left: 0px;
}

#buttons .parent ul li {
   padding-bottom: 2px;
}

#buttons .parent ul li:first-child {
   padding-top: 10px;
}

.with-slideshow #head-stripe .title, .undefined #head-stripe .title {
   border: none;
   padding: 0px;
}

.with-slideshow #head-stripe .title a, .undefined #head-stripe .title a {
   background: url('../images/video-sprite.png') no-repeat;
   color: #fff;
   padding: 16px 0px 14px 80px;
   text-decoration: none;
}

.with-slideshow #head-stripe .title a:hover, .undefined #head-stripe .title a:hover {
   background-position: 0px -61px;
}

.stripe-button:first-child {
   margin-left: 0px;
}

.stripe-button a {
   background: url('../images/big-button-bgd.png') repeat-x;
   border-radius: 10px;
   box-shadow: 0 0 5px #444;
   color: #727171;
   display: block;
   font-size: 20px;
   font-family: arial;
   font-weight: bold;
   padding: 8px 50px;
   text-decoration: none;
   white-space: nowrap;
}

.stripe-button a:hover, .stripe-button a.active {
   color: #f48021;
}

.quote {
   background: url('../images/quote.jpg') no-repeat;
   color: #3f3f3e;
   font-style: italic;
   line-height: 25px;
   margin-top: 35px;
   padding: 30px 15px 0px 0px;
   padding: 30px 15px 0px 0px;
   text-align: right;
}

.image-left, .image-left-thumb {
   float: left;
   margin: 0px 13px 13px 0px;
}

.image-right, .image-right-thumb {
   float: right;
   margin: 0px 0px 13px 13px;
}

.image-left-thumb, .image-right-thumb {
   height: auto !important;
   width: 290px !important;
}

.image-full {
   height: auto !important;
   width: 970px !important;
}

.narrow .image-full {
   width: 700px !important;
}

.narrowest .image-full {
   width: 436px !important;
}

.with-subheading {
   border-top: 1px solid #eae7e0;
}

.category-description {
   border-bottom: 1px solid #eae7e0;
   padding-bottom: 20px;
   margin-bottom: 20px;
}

#breadcrumbs {
   border-bottom: 1px solid #eae7e0;
   padding-bottom: 20px;
   margin-bottom: 20px;
}

#breadcrumbs ul {
   list-style-type: none; 
   margin: 0px;
   padding: 0px;
}

#breadcrumbs li {
   display: inline;
}

#breadcrumbs .divider {
   background: none;
   height: auto;
   width: auto;
   margin: 0px;
   padding: 0px 10px 0px 0px;
}

#breadcrumbs li:first-child {
   padding-left: 0px;
}

#breadcrumbs a {
   margin-right: 10px;
   text-decoration: none;
}

#teaser {
   background: url(../images/content-gradient.png) repeat-x;
   padding-top: 25px;
}

#content {
   background: url(../images/content-gradient.png) repeat-x;
   padding-top: 25px;
}

.article {
   border-bottom: 1px solid #eae7e0;
   padding-bottom: 30px;
   margin-bottom: 30px;
}

.article-intro {
   border-bottom: 1px solid #eae7e0;
   padding: 20px 0px;
}

.article-intro.category-list-item {
   border-bottom: none;
}

.readmore {
   font-weight: bold;
}

div.readmore {
   margin-top: 10px;
}

#left-col, #right-col {
   width: 226px;
}

#left-col {
   border-right: 1px solid #eae7e0;
   float: left;
   margin-right: -1px;
   padding-right: 20px;
}

#right-col {
   float: right;
   margin-left: -1px;
   padding-left: 20px;
}

.left-col {
   border-left: 1px solid #eae7e0;
   padding-left: 20px;
}

.left-col.narrowest {
   border-right: 1px solid #eae7e0;
}

.right-col {
   border-right: 1px solid #eae7e0;
   padding-right: 21px;
}

.column .menu li {
   border-left: none;
   border-bottom: 1px solid #eae7e0;
   display: block;
}

.column .menu li:first-child {
   border-top: 1px solid #eae7e0;
}

.column li.active.parent {
   border-bottom: none;
}

.column .menu li a, .column .menu > li:first-child a {
   display: block;
   padding: 10px 0px;
}

.column .menu ul a {
   padding-left: 13px;
}

.column .menu ul ul a {
   font-size: 16px;
   padding-left: 26px;
}

.column-module {
   margin-bottom: 20px;
}

.column-module h3 {
   border-bottom: 1px solid #eae7e0;
   border-top: 1px solid #eae7e0;
   font-weight: normal;
   font-family: Georgia;
   padding: 10px;
}

.column-module h3:first-child {
   margin-top: 0px;
}

.column-module.with-title h3 {
   border-left: 7px solid #F47E21;
   border-bottom: none;
   border-top: none;
   padding: 3px 0px 3px 8px;
   font-weight: bold;
}

a.masked-link {
   text-decoration: none;
}

a.masked-link:hover {
   color: #F48021;
}

.article-text {
   width: 100%;
}

.narrow {
   width: 700px;
}

.narrowest {
   padding-right: 20px;
   width: 436px;
}

.article-text, .category {
   float: left;
}

.article-text p:first-child, .intro h2 {
   overflow: hidden;
   margin-top: 0px;
}

.category-list-item  {
   float: left;
   width: 468px;
}

.category-list-item .intro, .category-list-item img {
   width: 468px;
}

.left-cat {
   border-right: 1px solid #eae7e0;
   padding-right: 16px;
   margin-right: 16px;
}

.intro {
   float: left;
   width: 660px;
}

.intro-image {
   float: left;
   margin-right: 18px;
}

.intro-image img {
   height: auto !important;
   width: 290px;
}

.narrow .intro {
   width: 392px;
}

.narrowest .intro {
   width: 436px;
}

.category .no-intro-image {
   width: auto;
}

.category .article-intro:first-child {
   padding-top: 0px;
}

.created-date {
   color: #787777;
   font-style: italic;
   margin-bottom: 10px;
}

.pagination {
   border-bottom: 1px solid #eae7e0;
   color: #f48021;
   padding: 15px 0px;
}

.pagination ul {
   list-style-type: none;
   margin: 0px;
   padding: 0px 75px 0px 0px;
   text-align: center;
}

.pagination li {
   display: inline;
   padding: 0px 10px;
}

.pagination a {
   text-decoration: none;
}

.pagination a:hover {
   color: #f48021;
}

.pagination-prev, .pagination-next, .pagination-end, .pagination-start {
   color: #1f1c18;
}

.pagination-start .pagenav, .pagination-start a {
   border-left: 1px solid #1f1c18;
}

.pagination-end .pagenav, .pagination-end a {
   border-right: 1px solid #1f1c18;
}

.all-news {
   background: url('../images/all-news-bgd.jpg') no-repeat 100% 0%;
   font-size: 14px;
   float: right;
   padding-right: 25px;
   position: relative;
   bottom: 18px;
}

.all-news a {
   text-decoration: underline;
}

.all-news a:hover {
   color: #1f1c18;
}

.yidl-module {
   margin-bottom: 20px;
}

#content-top-2-col .yidl-module {
   float: left;
   width: 470px;
}

#content-top-2-col .yidl-module:first-child {
   margin-right: 26px;
}

#content-top-2-col {
   margin-bottom: 50px;
}

a#top-link {
   background: #fff;
   color: #272420;
   font-size: 13px;
   padding: 10px 25px;
   text-decoration: none;
   position: relative;
   top: 60px;
}

.slideshow {
   text-align: center;
   overflow: hidden;
}

#map-canvas {
   height: 264px;
   width: 470px;
   margin-bottom: 15px;
}

#locations-box {
   background: url('../images/select-arrow.png') no-repeat 430px center;
   border: 1px solid #eae7e0;
   overflow: hidden;
   width: 468px;
}

select#locations {
   background: transparent;
   border: none;
   font-size: 16px;
   padding: 8px;
   height: 38px;
   width: 496px;
}

.projects {
   margin-top: 40px;
}

.projects a {
   color: #40321b;
}

.project {
   border-right: 1px solid #dbd9d6;
   float: left;
   padding: 17px 17px 45px 17px;
   width: 126px;
   text-align: center;
}

.project-title {
   min-height: 40px;
   margin-bottom: 10px;
}

.project-title a {
   font-weight: bold;
   font-size: 14px;
   text-decoration: none;
}

.project-link {
   margin-top: 10px;
   min-height: 40px;
}

.project-link a {
   font-family: Arial;
   font-size: 13px;
}

.project:first-child {
   border-left: 1px solid #dbd9d6;
}

.divider, .subheading-divider {
   background: #eae7e0;
   height: 1px;
   width: 100%;
   margin: 20px 0px;
}

.subheading-divider {
   margin-top: 0px;
}

#latest-news .divider {
   margin: 10px 0px;
}

#latest-news .divider:first-child {
   margin-top: 0px;
}

.divider-up {
   background: url("../images/divider-up.png") repeat-x;
   height: 36px;
}

.divider-down {
   background: url("../images/divider-down.png") repeat-x;
   height: 88px;
}

.btn {
   background: #f48021;
   border-radius: 3px;
   color: #fff;
   display: inline-block;
   font-size: 15px;
   font-weight: bold;
   padding: 5px 15px;
   text-decoration: none;
}

.schedule-btn, .map-btn {
   border: none;
   cursor: pointer;
}

.newsletter {
   margin-top: 30px;
}

.boxed {
   border: 1px solid #eae7e0;
   display: block;
   padding: 10px;
   text-align: center;
}

.phone, .website, .email, .time {
   margin: 5px 0px;
   padding: 5px 0px 5px 25px;
}

.phone {
   background: url("../images/phone-bgd.jpg") no-repeat;
}

.website {
   background: url("../images/website-bgd.jpg") no-repeat;
}

.email {
   background: url("../images/email-bgd.jpg") no-repeat;
}

.time {
   background: url("../images/time-bgd.jpg") no-repeat;
}

.acymailing_module {
   background: url("../images/newsletter.png") no-repeat 22px 8px;
   border: 1px solid #eae7e0;
   padding: 27px 15px;
}

.acymailing_introtext {
   display: block;
   float: left;
   width: 115px;
   text-align: right;
}

.acymailing_form {
   float: right;
}

.acymailing_module_form {
   padding-left: 130px;
   overflow: hidden;
}

.acymailing_module_form input {
   border: 1px solid #dddbd9;
   height: 38px;
   padding-left: 10px;
   margin-left: 8px;
   width: 260px;
}

.acymailing_module_form input[type="submit"] {
   background: #dcdbdb;
   border: none;
   padding: 0px;
   width: 102px;
}

#search {
   padding-top: 10px;
   float: right;
}

#mod-finder-searchword {
   border: 1px solid #c3bfb4;
   border-radius: 5px;
   color: #c3bfb4;
   padding: 10px 0px 10px 10px;
   width: 200px;
}

#mod-finder-searchword:focus {
   color: inherit;
}

#mod-finder-searchform {
   position: relative;
}

#mod-finder-searchform #search-btn button {
   border: none;
   cursor: pointer;
   display: block;
   width: 18px;
   height: 18px;
   background: #fff url('../images/search-icon.png');
   position: absolute;
   top: 11px;
   right: 15px;    
   z-index: 1000;
}

@media (min-width: 768px) and (max-width: 1023px) {
   
.top-slideshow, main, footer, header {
   overflow-x: hidden;
}

#buttons .parent ul {
    display: none;
}
   
   .wrapper {
   width: 728px;
}

#content img {
   height: auto !important;
   max-width: 728px !important;
}

#content article-text.left-col img, #content article-text.right-col img {
   height: auto !important;
   max-width: 460px !important;
}

.category-list-item, #content .category-list-item img {
   width: 345px !important;
}

.image-full {
   width: 728px !important;
}

.pagination ul {
   padding-right: 0px;
}

.acymailing_module_form input {
   margin-bottom: 10px;
}

.acymailing_form {
   text-align: right;
}

.acymailing_module {
   padding-bottom: 5px;
}

.acymailing_module_form input {
   width: 140px !important;
}

.acymailing_module_form input[type="submit"] {
   width: 102px !important;   
}

.project {
  padding-left: 0px;
  padding-right: 0px;
  width: 120px; 
}

a#top-link {
   top: 27px;
}

.social-button {
   display: none;
}

.divider-down {
   height: 55px;
}

.narrow {
   width: 538px;
}

.class-table {
   overflow-x: scroll;
}

#content-top-2-col .yidl-module {
   width: 728px;
}

.content-top-4-col .yidl-module {
   border-left: none;
   margin: 0px;
   padding-left: 0px;
   width: 346px;
}

.content-top-4-col .yidl-module img:first-child {
   width: 346px;
}

.content-top-4-col .yidl-module:first-child {
   border-right: 1px solid #E1E1E0;
   margin-right: 17px;
   padding-right: 17px;
}

.content-top-4-col .yidl-module:last-child {
   border-left: 1px solid #E1E1E0;
   margin: 0px 0px 30px 17px;
   padding-left: 17px;
}

.narrow {
   width: 460px;
}

.narrowest {
   width: 194px;
}

.narrowest .intro {
   width: auto;
}

.narrow .intro {
   width: 262px;
}

.intro {
   width: 530px;
}

.category .no-intro-image {
    width: auto;
}

#content .category.left-col img {
   height: auto !important;
   max-width: 460px !important;
}

.intro-image img, #content .image-left-thumb, #content .image-right-thumb {
   width: 180px !important;
}

#logo {
   margin-right: 10px;
}

#top {
   height: auto;
   width: 728px;
}

#head-stripe .title {
   width: 150px;
}

.with-slideshow #top {
   height: 380px;
}

.with-slideshow #header {
   height: 466px;
   position: relative;
}

.with-slideshow #head-stripe .title a, .undefined #head-stripe .title a {
   display: inline-block;
   height: 47px;
   padding-top: 0px;
   text-indent: -9999px;
}

.with-slideshow #head-stripe .title, .undefined #head-stripe .title {
   padding-bottom: 10px;
}

#head-stripe {
   padding-top: 14px;
}

.with-slideshow #head-stripe #buttons, .undefined #head-stripe #buttons {
   top: 10px;
}
#head-stripe #buttons {
   top: -5px;
}

#head-stripe {
   height: auto;
}

#map-canvas, iframe {
   height: 410px !important;
   width: 728px !important;
}

.category #map-canvas, .category iframe {
   height: 194px !important;
   width: 345px !important;
}

.narrow #map-canvas, .narrow iframe {
   height: 258px !important;
   width: 460px !important;
}

#locations-box {
   background-position: 690px center;
   width: 728px;
}

select#locations {
   width: 760px;
}

}

/* common 320px-768px */
@media (max-width: 767px) {
   
.top-slideshow, main, footer, header {
   overflow-x: hidden;
}

   .social-button, .quote, .category .divider, #buttons .parent ul {
   display: none;
}

#header {
   background-position: center -49px;
}

.class-table {
   overflow-x: scroll;
}

.acymailing_module {
   background-position: 0px 8px;
}

.acymailing_introtext {
   display: none;
}

.acymailing_module_form {
   padding-left: 30px;
}

.acymailing_module_form input {
   width: 147px !important;
}

.acymailing_module_form input[type="submit"] {
   width: 102px !important;   
}

.project-4, .project-5, .project-6 {
   margin-top: 5px;
   padding-bottom: 0px;
}

.article {
   border-bottom: none;
}

.headline {
   font-size: 27px;
   font-weight: normal;
}

#head-stripe .title, #head-stripe #buttons {
   float: none;
}

#head-stripe .title-container:after {
   background: 1px #FFFFFF;
   content: " ";
   display: block;
   height: 1px;
   overflow: hidden;
   margin: 30px 0px 15px 0px;
   position: relative;
   right: 223px;
   width: 1023px;
}

#head-stripe #buttons {
   padding-bottom: 30px;
   position: static;
   text-align: center;
}

.stripe-button {
   display: block;
   margin-left: 0px;
}

.stripe-button a {
   display: inline-block;
   margin-top: 10px;
   min-width: 98px;
}

.content-top-4-col .yidl-module {
   border-left: none;
   border-top: 1px solid #E1E1E0;
   float: none;
   margin-left: 0px;
   padding: 0px;
   width: auto;
}

.content-top-4-col .yidl-module:first-child {
   border-top: none;
}

.right-col, .left-col, .left-cat, .left-col.narrowest {
   border: none;
}

#main-menu, #menu-footer {
   clear: both;
   display: none;
   padding: 0px;
   position: relative;
   right: 203px;
   width: 1023px;
}

#header .menu, #menu-footer .menu {
   text-align: left;
}

#main-menu li, #menu-footer li {
   border-left: none;
   border-bottom: 1px solid #cfcfcf;
   display: block;
}

#main-menu li:first-child, #menu-footer li:first-child {
   border-top: 1px solid #cfcfcf;
}

.menu a, .menu li:first-child a {
   display: block;
   padding: 10px 15px;
   width: 560px;
   margin: 0px auto;
}

.column .menu ul a {
   width: auto;
}

.menu li:last-child a {
   padding-right: 15px;
}

.menu a:hover, .active.parent > a, .current > a, #menu-footer .active a, #main-menu li:hover, #menu-footer li:hover, #main-menu li.active, #menu-footer li.active, #main-menu .active a {
   background: #bdb8b4;
   color: #fff;
}

.column .menu a {
   background: none;
   color: #000;
}

.column .menu a:hover, .column .active.parent > a, .column .current > a {
   background: none;
   color: #f47E21;
}

.menu-toggle {
   clear: right;
   cursor: pointer;
   display: block;
   margin: 10px 15px 0px 0px;
}

#bottom-navigation .menu-toggle {
   margin-top: 0px;
}

#menu-footer {
   float: none;
   padding-top: 10px;
}

.article-text, .category {
   float: none;
   padding: 0px;
   margin: 0px;
}

.left-cat {
   margin-right: 0px;
   padding-right: 0px;
}

.article-intro.category-list-item {
   border-bottom: 1px solid #EAE7E0;
}

.category-list-item  {
   border-bottom: 1px solid #EAE7E0;
   float: none;
   width: 100%;
}

.intro-text {
   padding-bottom: 10px;
}

#left-col {
   float: none;
   margin: 30px 0px;
   border: none;
   width: 100%;
}

#right-col {
   border: none;
   float: none;
   margin-left: 0px;
   padding-left: 0px;
   width: 100%;
}

#latest-news .divider:first-child {
   background: #fff;
}

.column-module.with-title h3 {
   margin-top: 15px;
}

.bottom-menu .menu a, .bottom-menu .menu li:first-child a {
   display: inline;
}

#footer-links td {
   padding-right: 10px;
}

#footer-links td:last-child {
   padding-right: 0px;
}

.copyright {
   font-size: 11px;
}

.project {
   padding: 17px 30px 45px 29px;
}

.with-slideshow #head-stripe .title-container:after, .undefined #head-stripe .title-container:after {
   border-bottom: none;
}

.with-slideshow #main-menu, .undefined #main-menu {
   background: #fff;
}

#logo {
   margin-left: 15px;
}

.with-slideshow #top, .undefined #top {
   position: relative;
   z-index: 9999;
}

a#top-link {
   top: 27px;
}

.intro h2 {
   margin-top: 10px;
}

div.readmore {
   margin-top: 0px;
}

}

/* 600px-768px */

@media (min-width: 600px) and (max-width: 767px) {
   .wrapper {
   width: 560px;
}

#content img {
   height: auto !important;
   max-width: 560px !important;
}

.image-full {
   width: 560px !important;
}

.project-4 {
   border-left: 1px solid #DBD9D6;
}

.divider-down {
   height: 55px;
}

.narrow {
   width: 538px;
}

.content-top-4-col .yidl-module img:first-child, #content-top-2-col .yidl-module {
   width: 560px;
}

.blog .intro-image img {
   height: auto !important;
   width: 160px !important;
}

.narrow, .narrowest {
   width: 560px;
}

.narrow .intro, .intro {
   width: 560px;
}

#bottom-navigation {
   width: 600px;
}

#top {
   height: auto;
   width: 600px;
}

.with-slideshow #top {
   height: 267px;
}

.with-slideshow #header {
   height: 553px;
   position: relative;
}

#head-stripe {
   height: 252px;
}

#map-canvas, iframe {
   height: 315px !important;
   width: 560px !important;
}

#locations-box {
   background-position: 530px center;
   width: 559px;
}

select#locations {
   width: 590px;
}


.blog .intro-image img {
   height: auto !important;
   width: 560px !important;
}
.category-list-item img, .blog img {
   height: auto !important;
   width: 560px !important;
}

}

/* 320px-600px */

@media (max-width: 599px) {
   .wrapper {
   width: 280px;
}

#content img {
   height: auto !important;
   max-width: 280px !important;
}

.image-full {
   width: 280px !important;
}

.pagination ul {
   padding-right: 0px;
}

.all-news {
   display: none;
}

.acymailing_module_form input {
   margin-bottom: 10px;
}

.acymailing_form {
   text-align: right;
}

.acymailing_module {
   padding-bottom: 5px;
}

.project {
   padding: 17px 6px 45px 6px;
}

.project-3, .project-5 {
   border-left: 1px solid #DBD9D6;
}

.project-3 {
   margin-top: 5px;
}

.divider-down {
   height: 55px;
}

.narrow {
   width: 538px;
}

.content-top-4-col .yidl-module img:first-child, #content-top-2-col .yidl-module {
   width: 280px;
}

.blog .intro-image img {
   height: auto !important;
   width: 280px !important;
}

.narrow, .narrowest {
   width: 280px;
}

.narrow .intro, .intro {
   width: 280px;
}

#bottom-navigation {
   width: 320px;
}

#top {
   height: auto;
   width: 320px;
}

.with-slideshow #top {
   height: 267px;
}

.with-slideshow #header {
   height: 553px;
   position: relative;
}

#head-stripe {
   height: auto;
}

#map-canvas, iframe {
   height: 158px !important;
   width: 280px !important;
}

#locations-box {
   width: 280px;
}

select#locations {
   width: 284px;
}

#footer-links td {
   display: block;
}

.copyright {
   padding-top: 0px;
}

.category-list-item img, .blog img {
   height: auto !important;
   width: 280px !important;
}

#mod-finder-searchword {
   width: 135px;
}

} 