
.wrapper {
    /*background-color: #ff00dc;*/

	min-width: 800px;
	max-width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
}



/* Header
-----------------------------------------------------------------------------*/
/*wrapper*/
.header-back{
}
.header {
    
}

/* Lista - video + foto
-----------------------------------------------------------------------------*/
.head-lista-back {
   background: url('../img/head-lista-back.png');
   border-bottom: 1px solid #fff;
   height: 40px;
   padding: 5px 0px 0px 0px;
    margin: -45px auto 0;
   position: relative;
   width: 100%;
}

.head-lista{
    max-width: 1000px;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle-back{
    background-color: #ffd800;
    padding: 0 0 150px;
}
.middle1-back{
    background-color: #ffd800;	
}
.middle2-back{
     background-color: #00ff21;
}
.middle {
     background-color: #99ce9f;
     max-width: 1000px;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer-back{
     background-color: #808080;
     margin: -150px auto 0;
     height: 150px;
}

.footer {
     background-color: #cec5c5;
     max-width: 1000px;
}



