
.wrapper {
    /*background-color: #ff00dc;*/

	min-width: 800px;
	max-width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
}



/* Header
-----------------------------------------------------------------------------*/
.header-back{  
}
.header {
    position:relative;
    height:450px;
    width:auto;  
}
.header2 {
    position:relative;
    height:250px;
    width:auto;  
}

/* Lista - video + foto
----------------------------------------------------------------------------*/
.head-lista-back {
   background: url('../img/head-lista-back.png');
   border-bottom: 1px solid #fff;
   height: 22px;
   padding: 28px 0px 0px 0px;
   margin: -50px auto 0;
   position: relative;
   width: 100%;
}
.head-lista-menu{
   position: absolute;
   width: 100%;
   top:50px
}
.head-lista-menu2{
   position: absolute;
   width: 100%;
   top:125px;
}
.head-lista-menu3{
   position: absolute;
   width: 100%;
   top:160px;
}
.head2-back{
    background: url('../img/head2-back.jpg');
    background-repeat:no-repeat;
    background-position:50% 0;/*umisteni obrazku pozadi*/   
    position:relative;
    height:250px;
    width:auto;  
}
.slide-item{ 
    background-repeat:no-repeat;
    background-position:50% 0;/*umisteni obrazku pozadi*/
    position:relative;
    height:450px;
    width:auto;
}
.slide-item-1 {background-image: url('../img/slide/wide/1.jpg');} 
.slide-item-2 {background-image: url('../img/slide/wide/2.jpg');} 
.slide-item-3 {background-image: url('../img/slide/wide/3.jpg');} 
.slide-item-4 {background-image: url('../img/slide/wide/4.jpg');} 

.head-menu{
    max-width: 1000px;
    position:relative;
    margin-top: 0px;
}
.head-menu span{
    float:right;
    color:#ddd8d2;
}
.head-menu a{    
    text-decoration: none;
    color:#696565;
}
.head-menu a:hover{    
    color:#f26b00;
}

.head-menu2{
    max-width: 1000px;
    position:relative;
    margin-top: 0px;
    font-size:20px;
}
.head-menu2 span{
    color:#f47e21;
    float:right;
}
.head-menu2 a{    
    text-decoration: none;
    color:#f3bf80;
}
.head-menu2 b{    
    text-decoration: none;
    color:#fad2a1;
    font-size:16px;
}
.head-menu2 a:hover{    
    color:#f47e21;
}
.head-menu2-selected{
    color:#f47e21;
}
.head-lista{
    max-width: 1000px;
}
.head-lista2{
    margin: -17px 0px 0px 33px;
    font-size: 25px;
    border-left: 10px solid #f47e21;
    display: block;
    padding-left: 10px;
}
.head-lista2 a{
    color:white;
}
.odkaz-video-img-over {
    background: url('../img/head-lista-video-text-over.png');
}
.odkaz-video-img-out {
    background: url('../img/head-lista-video-text.png');
}
.odkaz-video-img{
    background-repeat:no-repeat;
    padding:25px 60px 0px 193px;
    margin: 0px 0px 0px 33px;
}
.odkaz-foto-img-over {
    background: url('../img/head-lista-foto-text-over.png');
}
.odkaz-foto-img-out {
    background: url('../img/head-lista-foto-text.png');
}
.odkaz-foto-img{
    background-repeat:no-repeat;
    padding:25px 0px 0px 170px;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle-back{
    padding: 0 0 150px;
}
.middle-back-row{
    background: url(../img/middle-back-row-back.png) repeat-x;
}
.middle-back-row-vareni{
    background: url(../img/vareni-background.png) repeat;
}
.middle-back-row-footer{
    background: url(../img/footer-back-rowup.png) repeat-x;
}

.middle-back-row-footer a{    
    text-decoration: none;
    font-size: 24px;
    color: black;
}
.middle-back-row-footer a:hover{    
    color:#f26b00;
}
.row1{
    height:330px;
}
.row2{
    height:330px;
}
.row3{
    height:530px;
}
.row4{
    height:104px;
}

/*gurukul*/
.row1_1{
    height:1650px;
}
/*vareni*/
.row2_1{
    height:5590px;
}
.middle1 {
    max-width: 1000px;
}
.middle2 {
    max-width: 1000px;
    border-top: 1px solid #eae7e0;
}
.middle3 {
    max-width: 1000px;
    padding: 60px 0px 0px 60px;
}

/* Clanek
-----------------------------------------------------------------------------*/
.clanek {
    border-left: 7px solid #f47e21;
    display: block;
    padding-left: 10px;
   
    font-family: arial;
    font-weight: bold;
}
.clanek a:hover{
    color:#f26b00;
}
.clanek-big{
    font-size: 20px;
}
.clanek-small{
    font-size: 16px;
    height: 23px;
}
.clanek a{
    text-decoration: none;
    color: black;
}
.clanek-blok-border-left {
    border-left: 1px solid #e1e1e0;
}
.clanek-blok {
    float: left;
    padding-left: 17px;
    margin-left: 17px;
    margin-bottom: 20px;
    margin-top: 25px;
    width: 296px;
}
.clanek-blok a{
    text-decoration: none;
    color: black;
    font-weight:bold;
}
.clanek-blok p{
    margin-top: 13px;
    text-align:justify;
}

/* Clanek Long
-----------------------------------------------------------------------------*/
.claneklong {
    display: block;
    
    font-family: arial;
    font-weight: bold;
}
.claneklong a:hover{
    color:#f26b00;
}
.claneklong-big{
    font-size: 20px;
}
.claneklong-blok {
    float: left;
    padding-left: 17px;
    margin-left: 17px;
    margin-bottom: 20px;
    margin-top: 25px;
}
.claneklong-blok1 {
    float: left;
    width:111px;
}
.claneklong-blok2 {
    float: left;
    width:800px;
    padding: 9px 0px 0px 50px;
}
.claneklong-blok a{
    text-decoration: none;
    color: black;
    font-weight:bold;
}
.claneklong-blok p{
    margin-top: 7px;
    text-align:justify;
}

/* Clanek Long 2 - podstranky
-----------------------------------------------------------------------------*/
.claneklong2-blok{
    float: left;
    padding-left: 17px;
    padding-bottom: 20px;
    margin-left: 17px;
    margin-top: 20px;
}
.claneklong2-blok h2{
    margin-top:15px;
    margin-bottom:35px;
    line-height:25px;
}
.claneklong2-blok p{
    margin-top:15px;
    margin-bottom:15px;
    line-height:25px;
    text-align:justify;
}
.img{
    margin-left:28px;
}

/*fotovideo jsou jen dva odkazy na foto a video pod odstavci*/
.fotovideo{
    clear:both;
    width:210px;
    margin-top:-20px;/*prilepi se k hornimu odstavci s obrazky*/
}
.fotovideo-left{
    float:left;
    width:100px;
}
.fotovideo-right{
    float:right;
    width:100px;
}
.fotovideo a{
    font-size:12px;
    color:#808080;
    text-decoration:none;
}
.fotovideo a:hover{
    color:#f26b00;
    text-decoration:none;
}
.fotovideo img{
    height:20px;
    width:auto;
}
.fotovideo p{
    line-height:10px;
    margin:-18px 0 0 20px; /*prilepi se k hornimu odstavci s obrazky*/
    width:150px;/*nastavim sirku aby byl odkaz jen pod textem*/
}
.claneklong2-blok-border-bottom {
    border-bottom: 1px solid #e1e1e0;
}
.clanek2{
    border-left: 7px solid #f47e21;
    padding-left: 10px; 
}
.clanek2-img{
    display:block;
    float:left;    
    margin-right:20px;
}
.clanek2-img img{
    display:block;
    margin-bottom:5px;
}
.clanek2-imgtext{
    text-align:justify;
    line-height:25px;
}
.clanek2-big{
    font-size:20px;
}
.clanek2-small{
    font-size:16px;
}
.clanek2-list span{
    line-height:25px;
    font-size:16px;
}
.bold{
    font-weight:bold;
}
.green{
    color:#47aa25
}
.cacao{
    color:#793b00;
}

/* Recepty
-----------------------------------------------------------------------------*/
.recept{
    margin:50px 0 0 0;
    padding:10px 10px 10px 10px;
    font-size:14px;
}
.bck1{
    /*background-color:#fff0e0*/;
}
.bck2{
    background-color:#fff0e0;
}
.recept p{
    margin:8px 0 5px 0;
    line-height:20px;
    text-align:justify;
}
.recept-left{
    width:33%;
    float:left;
}
.recept-left li{
    line-height:15px;
    margin-top:10px;
    text-align:justify;
}
.recept-right{
    width:65%;
    float:right;
}
.recept-bottom{
    width:100%;
    clear:both;
}
.recept-titul{
    font-size:20px;  
}
.recept-podtitul{
    font-size:14px;
    font-style:italic;
}
.recept-nadpis{
    padding:10px 0 0 0;
    font-size:16px;
    font-weight:bold;
}
.recept-text{
}


/* Footer
-----------------------------------------------------------------------------*/
.footer-back{
     background: #ddd8d2 url(../img/footer-back.png) repeat-x;
     margin: -150px auto 0;
     border-top: 1px solid #eae7e0;
     height: 150px;
}
.footer {
     max-width: 1000px;
}
.footer-logo{
    background: url('../img/footer-logo.png') no-repeat;
    height:106px;
    width:86px;
    margin: 25px 100px 0px 35px;
    float:left;
}
.footer-text{
    margin: 60px 100px 0px 0px;
    float:left;
}
.footer-links{
    float:right;
    margin: 60px 100px 0px 0px;
}
.footer-links a{
    text-decoration: none;
    font-size: 16px;
    color: #808080;
}
.footer-links a:hover{    
    color:#f26b00;
}

