
.wrapper {
    /*background-color: #ff00dc;*/

	min-width: 800px;
	max-width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
}



/* Header
-----------------------------------------------------------------------------*/
.header-back{
    
}
.header {
}

/* Lista - video + foto
----------------------------------------------------------------------------*/
.head-lista-back {
   background: url('../img/head-lista-back.png');
   border-bottom: 1px solid #fff;
   height: 22px;
   padding: 28px 0px 0px 0px;
   margin: -50px auto 0;
   position: relative;
   width: 100%;
}

.head-lista{
    max-width: 1000px;
}
.odkaz-video-img-over {
    background: url('../img/head-lista-video-text-over.png');
}
.odkaz-video-img-out {
    background: url('../img/head-lista-video-text.png');
}
.odkaz-video-img{
    background-repeat:no-repeat;
    padding:25px 60px 0px 193px;
    margin: 0px 0px 0px 33px;
}
.odkaz-foto-img-over {
    background: url('../img/head-lista-foto-text-over.png');
}
.odkaz-foto-img-out {
    background: url('../img/head-lista-foto-text.png');
}
.odkaz-foto-img{
    background-repeat:no-repeat;
    padding:25px 0px 0px 170px;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle-back{
    padding: 0 0 150px;
}
.middle-back-row{
    background: url(../img/middle-back-row-back.png) repeat-x;
}
.row1{
    height:430px;
}
.middle {
    max-width: 1000px;
}

/* Clanek
-----------------------------------------------------------------------------*/
.clanek {
    border-left: 7px solid #f47e21;
    display: block;
    padding-left: 10px;
   
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
}
.clanek a{
    text-decoration: none;
    color: black;
}
.clanek-blok-border-left {
    border-left: 1px solid #e1e1e0;
}
.clanek-blok {
    float: left;
    padding-left: 17px;
    margin-left: 17px;
    margin-bottom: 20px;
    margin-top: 25px;
    width: 296px;
}
.clanek-blok a{
    text-decoration: none;
    color: black;
    font-weight:bold;
}
.clanek-blok p{
    margin-top: 13px;
    text-align:justify;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer-back{
     background-color: #808080;
     margin: -150px auto 0;
     height: 150px;
}

.footer {
     background-color: #cec5c5;
     max-width: 1000px;
}

