
.wrapper {
	min-width: 800px;
	max-width: 1400px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}



/* Header
-----------------------------------------------------------------------------*/
.header {
	min-width: 800px;
	/*max-width: 1400px;*/
	margin: 0 auto;
	background: #ff0000;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 150px;
    font: 20px/18px Arial, sans-serif;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -150px auto 0;
	min-width: 800px;
	max-width: 1000px;
	height: 150px;
	background: #BFF08E;
	position: relative;
}